:root {
	/*top container colors*/
	--text-title-top-container: #ffffff;
	--text-top-container: #e8e8e8;
	--text-title-main: #ffffff;
	--text-main: #121212;

	/*bg colors*/
	--lighter-bg: #121212;
	--darker-bg: #000000;

	/*accent colors*/
	--accent-light: #609d99;
	--accent: #2b6670;
	--accent-dark: #335560;
}

.fab {
	font-size: 20px;
	color: var(--accent-dark);
	transition: color 200ms ease-in-out;
}

.fab:hover {
	color: var(--accent-light);
	transition: color 200ms ease-in-out;
}

.social {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 210px;
}
