:root {
	--brown: #5f605b;
	--white: #7f807b;
	--yellow: #494846;

	--bg: #f0f0f0;
	--fg: #e7e7e7;

	--search-bg: rgba(255, 255, 255, 0);
	}

/*
  .lightmode is actually the dark mode. Switched the default color
  scheme to light.
*/
.lightmode {
	--brown: #BD9980;
	--white: #DCDCCC;
	--yellow: #f0dfaf;

	--bg: #282828;
	--fg: #3f3f3f;

	--search-bg: rgba(255, 255, 255, 0);
}

body {
	background-color: var(--bg);
	font-family: 'Space Mono', monospace;
	color: var(--yellow);
	transition: all 0.25s ease-out;
}

ul {
	list-style-type: none;
	text-align: left;
	padding: 2px 15px;
}

p[class=credits] > a {
	position: fixed;
	bottom: 7px;
	right: 10px;
}

/*Form based off of Vallode's work:
  https://codepen.io/Vallode/pen/abdYLOd*/
form {
	margin: 1em 0;
	position: relative;
}

form input[type="search"] {
	background-color: var(--search-bg);
	border: none;
	box-sizing: border-box;
	font-weight: bold;
	font: inherit;
	margin-left: 12px;
	width: 95%;
	color: var(--yellow);
	transition: all 0.2s;
}	

form label {
	color: var(--yellow);
	position: absolute;
	transition: all 0.4s;
}

form:focus-within input::placeholder {
	opacity: 0;
}

.main_container {
	background-color: var(--fg);
	width: 792px;
	position: absolute;
	margin: 0;
	left: 50%;
	transition: all 0.25s ease-out;
}

#index_container {
	padding-right: 40px;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#main_container {
	-ms-transform: translate(-50%, -0%);
	transform: translate(-50%, -0%);
	margin: 75px -20px 75px -20px;
	position: relative;
}

#content {
	padding-top: 30px;
	margin-left: 300px;
}

#links_container {
	display: flex;
	flex-wrap: wrap;
}

#links_container li, a {
	color: var(--white);
	text-decoration: none;
	transition: all 0.4s;
}

#links_container a:hover {
	color: var(--brown);
	transition: all 0.4s;
}

.subtitle {
	font-weight: bold;
	color: var(--brown);
}

h1 {
	font-weight: bold;
	font-style: italic;
}

.image {
	max-width: 250px;
	float: left;
}

#main-bottom {
	position: absolute;
	bottom: 0;
	font-size: 0.52em;
}

.bottom a {
	text-decoration: none;
	color: var(--yellow);
}

.bottom a:hover {
	text-decoration: underline;
}

span#discord, span#discord_tag {
    position: absolute;
}

.new {
    opacity: 0;
}

.old, .new {
    transition: opacity 0.2s linear;
}

.wrap:hover .old {
    opacity: 0;
}
.wrap:hover .new {
    opacity: 1;
}

.bottom {
	position: relative;
	bottom: 0;
	font-size: 0.52em;
}

/*
  Badges specific CSS
*/
.badges, .locked_badges {
	width: 120px;
}

.locked_badges {
	filter: grayscale(100%);
}

.badges_container {
	margin: 35px 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.waifu_badges_container {
	margin: 35px 3%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.brand_container {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.intro {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 15px;
}

.hidden {
	display: none;
}

#waifus_container {
	padding-bottom: 17px;
}

/*
  Animations
*/
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: var(--bg);
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

/*
  Footer
*/
footer {
	background-color: var(--fg);
	color: var(--white);
	position: relative

	width: 100%;
	height: 25px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
}

/*
  Media querries
*/

@media (max-width: 900px) {
	img#leftImg {
    	height: 280px;
  	}

  	.main_container {
		width: 710px;
		padding-right: 0;
	}

	ul {
		padding-top: 0px;
		margin-top: -7px;
	}

	#content {
		padding-top: 0px;
		margin-left: 220px;
	}
}

@media (max-width: 720px) {
	img#leftImg {
		display: none;
	}

	.main_container {
		width: 530px;
	}

	#content {
		margin-left: 20px;

	}
}

@media (max-width: 550px) {
	.main_container {
		width: 100%;
	}
}

@media (max-width: 450px) {
	form input[type="search"] {
		width: 90%;
	}
}