:root {
	/* top container colors */
	--text-title-top-container: #ffffff;
	--text-top-container: #e8e8e8;
	--text-title-main: #ffffff;
	--text-main: #121212;

	/* bg colors */
	--lighter-bg: #121212;
	--darker-bg: #000000;

	/* accent colors */
	--accent-light: #82dded;
	--accent: #71cfff;
	--accent-dark: #7aa0ce;

	/* text colors */
	--text-black: #ffffff;
	--text-white: #ffffff;

	/*
	 * grey text: paragraphs
	 * light-grey: button bg
	 * white: fader
	 */
	--light-grey: #121212;
	--grey-text: #bfbfbf;
	--white: #121212;
	}

/* ===================================================================
 * 							  lightmode
 * ===================================================================
 * .lightmode
 * class becomes active when light mode is toggled
 */
.lightmode {
	--text-top-container: #2e3131;
	--text-title-main: #ffffff;
	--text-title-top-container: #000000;
	--lighter-bg: #ffffff;
	--darker-bg: #e8ecf1;
	--grey-text: #2e3131;
	--white: #ffffff;
	--text-black: #000000;
	--light-grey: #e3e3e3;
}

/* ===================================================================
 * 							  	main
 * =================================================================== */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lora', serif;
	background-color: var(--darker-bg);

	/* dark mode transition */
	transition: all 400ms ease-out;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: var(--text-black);

	/* dark mode transition */
	transition: color 400ms ease-out;
}

h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: var(--text-black);

	/* dark mode transition */
	transition: all 400ms ease-out;
}

button, nav ul li a {
	font-family: 'Montserrat', serif;
}

.container {
	width: 100%;
	min-height: 100vh;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	overflow: hidden;
}

.top-container {
	padding: 0 8%;
	background: var(--lighter-bg);

	/* dark mode transition */
	transition: all 400ms ease-out;
}

.top-container h1 {
	color: var(--text-title-top-container);
}

.top-container h1 {
	color: var(--text-top-container);
}

#welcome {
	margin: 0;
}

/* ===================================================================
 * 							  	navbar
 * =================================================================== */

.menu-icon {
	width: 25px;
	cursor: pointer;
	margin: 30px 0
}

nav {
	flex: 1;
	text-align: right;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

nav ul li a {
	text-decoration: none;
	color: var(--text-black);
	font-size: 14px;

	transition: color 200ms ease-in-out;
}

nav ul li a:hover {
	color: var(--accent);

	transition: color 200ms ease-in-out;
}

.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.navbar-links {
	padding: 30px;
}

.navbar-links ul {
	display: flex;
	justify-content: space-between;
}

.toggle-btn {
	position: absolute;
	top: .75rem;
	right: 8%;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	margin-top: 20px;
}

.toggle-btn .bar {
	height: 3px;
	width: 100%;
	border-radius: 5px;
	background-color: var(--text-title-top-container);

	/* dark mode transition */
	transition: all 400ms ease-out;
}

/* ===================================================================
 * 							  	content
 * =================================================================== */

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 100px 0;
}

.col-1 {
	flex-basis: 40%;
	position: relative;
	margin-left: 50px;
}

.col-1 h1, .col-2 h1 {
	font-size: 54px;
}

.col-1 h2, .col-2 h2 {
	font-size: 35px;
	margin: 20px 0 10px;
}

.col-1 p, .col-2 p {
	font-size: 16px;
	color: var(--grey-text);

	/* dark mode transition */
	transition: all 400ms ease-out;
}

.col-1.content::after {
	content: '';
	width: 10px;
	height: 57%;
	background: linear-gradient(to bottom, var(--accent-light), var(--accent-dark));
	position: absolute;
	left: -40px;
	top: 8px;

	/* dark mode transition */
	transition: all 400ms ease-out;
}

.main-col-img {
	position: relative;
	flex-basis: 60%;
	display: flex;
	align-items: center;
}

.row-img {
	height: 100px;
}

.col-1.col-img {
	text-align: right;
}

.col-2, .col-2.col-img {
	text-align: left;
}

.row-img-2 {
	text-align: left;
}

.fab-welcome {
	color: var(--accent-light);
	font-size: 100px;

	background: -webkit-linear-gradient(var(--accent-light), var(--accent));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

/* ===================================================================
 * 							content buttons
 * =================================================================== */

button {
	margin: 1rem;
	margin-left: 0;
	font-size: 14px;
	border-radius: 4px;
}

.btn {
	background-color: var(--light-grey);
	color: var(--text-black);
	padding: .5em 1em;
	border: none;
	outline: none;
	position: relative;
	cursor: pointer;

	/* dark mode transition */
	transition: all 400ms ease-out;
}

.btn.btn-background-slide::before {
	border-radius: 4px;

	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(to right, var(--accent-light), var(--accent));

	transition: transform 200ms ease-in-out;
	transform: scaleX(0);
	transform-origin: left;
}

.btn.btn-background-slide:hover::before, .btn.btn-background-slide:focus::before {
	transform: scaleX(1);
}

.btn.btn-background-slide {
	/*text on top of blue bg*/
	z-index: 1;

	transition: color 200ms ease-in-out;
}

.btn.btn-background-slide:hover, .btn.btn-background-slide:focus {
	color: var(--text-white);
}

/* ===================================================================
 * 							  	fader
 * =================================================================== */
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: var(--white);
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

/* ===================================================================
 * 							media querries
 * =================================================================== */
@media only screen and (min-width: 1370px) {
	.main-img {min-height: 91vh;}
}

@media only screen and (max-width: 1450px) {
	.main-img {height: 100%;}
}

@media only screen and (max-width: 1100px) {
	.main-img {width: 150%;}
}

@media only screen  and (max-width: 700px) {
	.main-img {padding-top: 40px;}

	h1, h2 {
		font-family: 'Montserrat', sans-serif;
	    font-weight: bold;
	}

	.navbar {
		padding: 40px 0;
		flex-direction: column;
		align-items: flex-start;
		align-items: left;
	}

	.toggle-btn {
		display: flex;
		z-index: 10;
	}

	.navbar-links {
		display: none;
		padding-left: 0;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		padding: 10px;
		text-align: center;
		margin-right: 0;
		animation: navbar-text-fade 800ms ease;
	}

	.navbar-links.active {
		display: flex;
		height: 24vh;
		z-index: 5;
		position: absolute;
		justify-content: center;
		background: var(--white);
		width: 84%;

		animation: bar 250ms ease;

		/*dark mode transition*/
		transition: all 400ms ease-out;
	}

	@keyframes bar {
	  0% {height: 0%;}
	  100% {height: 20vh;}
	}

	@-webkit-keyframes navbar-text-fade {
		0% {opacity: 0;}
		20% {opacity: 0;}
		100% {opacity: 1;}
	}

	@keyframes navbar-text-fade {
	    0% {opacity: 0;}
		20% {opacity: 0;}
		100% {opacity: 1;}
	}

	.main-img {
		width: 100%;
	}

	.row {
		flex-direction: column;
		margin: 50px 0;
	}

	.col-1.content::after {
		display: none;
	}

	.content {
		margin-left: 0;
	}

	.fab-welcome {
		font-size: 0;
	}
}
