/*
 * used in my badges
 *
*/

.wlfy-badges-row {
	justify-content: space-around;
	flex-direction: column;
}

.qa {
	display: flex;
	flex-direction: column;
	text-align: center;
}

ol li {
	padding-top: 10px;
	list-style: none;
	text-align: center;
}

ol {
	padding-bottom: 20px;
}

ol li a {
	text-decoration: none;
	color: var(--text-black);
	font-size: 14px;

	transition: color 200ms ease-in-out;
}

ol li a:hover {
	color: var(--accent);

	transition: color 200ms ease-in-out;
}

/* ===================================================================
 * 						showcased badges
 * =================================================================== */
.wlfy-badges-title {
	font-weight: 600;
	padding-top: 3%;
}
.wlfy-badges {
	height: 260px;
	width: auto;
	padding-top: 10px;
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

.wlfy-badges:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-transform: scale(1.45);
	transform: scale(1.45);
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

.my-badges {
	height: 220px;
	width: auto;
	padding-top: 0px;
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

.my-badges:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-transform: scale(1.55);
	transform: scale(1.55);
	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	border-radius: 5px;
}

 /* main badges container. contains everything */
.all-the-badges {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* between each h2 */
.wlfy-badges-type {
	margin-top: 4%;
	width: 100%;

	text-align: center;
}

/* shows, series, , vn title etc. */
.wlfy-badges-subtype {
	margin-top: 3%;
}

.wlfy-badges-title {
	/*TODO*/
}

/* category of badges */
.showcase-show {
	margin-top: 2%;
}


/* contains badges */
.wlfy-badges-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.my-badges-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 6%;
}

/* ===================================================================
 * 							media querries
 * =================================================================== */
 @media only screen and (max-width: 800px) {
	.my-badges:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition-duration: 0.3s;
	  	transition-duration: 0.3s;
	}

	.iphone8-overflow {
		display: none;
	}
}

@media only screen and (max-width: 525px) {
	.iphone8-overflow {
		display: none;
	}
}
